        body {
            font-family: Arial, sans-serif;
            padding: 50px;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        nav {
            background-color: #444;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        nav a:hover {
            text-decoration: underline;
        }
        #scriptDetails {
            padding: 20px;
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        header, nav, section, footer {
            padding: 15px; /* Adjust this value as needed */
        }
        #scriptList li {
            margin-bottom: 10px; /* Adjust the margin as needed */
          }
        #scriptList li a {
            text-decoration: none;
            color: black; /* Change the color as needed */
          }
          #scriptList li a:hover {
            text-decoration: underline;
            color: black; /* Change the color as needed */
          }